.error {
    color: red;
}

body {
    background-color: #efe5d0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

table {
    border: thin dotted #7e7e7e;
    padding: 10px;
}

th {
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
    padding-top: 2px;
}

td {
    vertical-align: top;
    padding-bottom: 15px;
}

nav ul {
    padding: 0;
    display: inline-block;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

nav #user-account {
    float: right;
}