{% extends "base.html" %}

{% block content %}
<form action="/newpost" method="POST">
<h2>Add a Blog Entry</h2>
<table>
  <tr>
    <th><label id="label-title" for="title">Title for your new blog:</label></th>
    <td>
      <input id ="title" type="text" name="title" value="{{title}}"/>
      <p id="title-error"><em>{{title_error}}</em></p>
    </td>
  </tr>    
  <tr>
    <th><label id="label-body" for="body">Your new blog:</label></th>
    <td><textarea id="body" name="body" rows="8" cols="30">{{body}}</textarea></td>
    <td><p id="body-error"><em>{{body_error}}</em></p></td>
  </tr>    
  <tr>
    <th></th>
    <td><input type="submit" value="Add Entry"/></td>
  </tr> 
  </table> 
</form>

{% endblock %}